__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.vscode
.env
*.session
*.session-journal
.telegram_textual_tui/
.vscode/
.idea/

# Rust artifacts
**/target/
telegram_textual_tui/ascii_tool/target/
Cargo.lock
